<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title >个人中心</title>
    <head th:insert="~{fragment/import :: head}"></head>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Welcome,</span>
                        <h2>John Doe</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a><i class="fa fa-home"></i> Home </a>
                            </li>
                            <li><a><i class="fa fa-star"></i> Collects <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="form.html">School</a></li>
                                    <li><a href="form_advanced.html">Question</a></li>
                                    <li><a href="form_validation.html">论坛</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-edit"></i>Applications</a>
                            </li>
                            <li><a><i class="fa fa-table"></i> Messages <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a th:href="@{/SystemNotification}">SystemNotification</a></li>
                                    <li><a href="tables_dynamic.html">BBS reply</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->

            </div>
        </div>

        <div th:replace="~{fragment/nav::topbar}"></div>
        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>User Profile</h3>
                    </div>


                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <div class="col-md-12 col-sm-12 col-xs-12">

                                    <div class="profile_title">
                                        <div class="col-md-6">
                                            <h2>Notifications</h2>
                                        </div>
                                        <div class="col-md-6">
                                            <button id="read" class="btn-default">全部已读</button>
                                        </div>
                                    </div>
                                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                        <div id="myTabContent" class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                                                <!-- start recent activity -->
                                                <ul class="messages">
                                                    <li th:each="recommendNotification:${recommendNotifications}">

                                                        <div class="message_date">
                                                            <h3 class="date text-info"th:text="${#dates.format(recommendNotification.getGmtCreate(),'dd')}"></h3>
                                                            <p class="month"th:text="${#dates.format(recommendNotification.getGmtCreate(),'MMMM')}"></p>
                                                        </div>
                                                        <div class="message_wrapper">
                                                            <h4 class="heading"th:text="${recommendNotification.getProducerName()}"></h4> <h4 class="heading"th:text="${recommendNotification.getOuterTitle()}"></h4>
                                                            <blockquote class="message"th:text="${recommendNotification.getContent()}"></blockquote>
                                                            <br />
                                                        </div>
                                                    </li>


                                                </ul>
                                                <!-- end recent activity -->

                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                                                <p>xxFood truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui
                                                    photo booth letterpress, commodo enim craft beer mlkshk </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
<!--未找到-->
<div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
</div>
<div th:insert="~{fragment/import :: foot}"></div>
<script th:src="@{/js/profile.js}"></script>
</body>
</html>