.comment-icon{
margin-top: 20px;
    margin-bottom: 10px;
}
.comment-icon .icon{
margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
    color: #999;
    margin-top: 5px;
}
.comment-icon .icon:hover{
    color: #2f96b4;
}
.child_comment{
    border:1px solid #eee;
    margin-top: 10px;
    border-radius:5px;
    padding-top: 10px
}