<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${school.name}"></title>
    <head th:insert="~{fragment/import :: head}"></head>
</head>
<body class="nav-md">

<div class="container body"style="background:#f1f1f1">
    <div th:replace="~{fragment/nav::topbar}"></div>

    <!-- page content -->
    <div class="clearfix"></div>
    <div class="container-fluid"style="padding-right: 15px;padding-left: 15px;margin-right: 300px;margin-left: 300px;">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img th:src="${school.logo}" alt="" class="img-rounded"style="height: 140px;width: 140px;">
                                    </div>
                                    <div class="col-md-4">
                                        <h1 style="margin-bottom: 40px;margin-top: 40px"th:text="${school.name}"></h1>
                                    </div>
                                    <div class="col-md-4">
                                        <h3 style="margin-bottom: 40px;margin-top: 40px">USNews排名</h3>
                                        <h3 style="margin-bottom: 40px;margin-top: 40px">QS排名</h3>
                                    </div>
                                    <div class="col-md-1">
                                        <button >收藏</button>
                                    </div>
                                </div>
                                <!-- 分隔符-->
                                <hr style="margin-bottom: 40px">
                                <!-- 分隔符-->
                                <div class="row" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">学校简介</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">专业</a>
                                        </li>
                                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Profile</a>
                                        </li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h2>基本信息</h2>
                                                    <hr style="margin-bottom: 40px">
                                                </div>
                                                <div class="col-md-12"style="margin-bottom: 30px">
                                                    <div class="col-md-4">
                                                        成立年份：<span th:text="${#dates.format(school.schoolInfo.dateOfEstablishment,'yyyy')}"></span>年
                                                    </div>
                                                    <div class="col-md-4">
                                                        录取率：<span th:text="${school.schoolInfo.acceptanceRate}"></span>%
                                                    </div>
                                                    <div class="col-md-4">
                                                        学费：<span th:text="${school.schoolInfo.tuition}"></span>$
                                                    </div>
                                                    <div class="col-md-4">
                                                        学制：<span th:text="${school.schoolInfo.educationalSystem}"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <h2>城市信息</h2>
                                                    <hr style="margin-bottom: 40px">
                                                </div>
                                                <div class="col-md-12"style="margin-bottom: 30px">
                                                    <div class="col-md-4">
                                                        犯罪率：<span th:text="${school.schoolInfo.crimeRate}"></span>%
                                                    </div>
                                                    <div class="col-md-4">
                                                        平均消费：<span th:text="${school.schoolInfo.averageConsumption}"></span>$
                                                    </div>

                                                </div>
                                                <div class="col-md-12">
                                                    <h2>学校概述</h2>
                                                    <hr style="margin-bottom: 40px">
                                                </div>
                                                <div class="col-md-12"style="margin-bottom: 30px">
                                                    <span th:text="${school.schoolInfo.summary}"></span>
                                                </div>
                                                <div class="col-md-12">
                                                    <h2>招生办</h2>
                                                    <hr style="margin-bottom: 40px">
                                                </div>
                                                <div class="col-md-12"style="margin-bottom: 30px">
                                                    <div class="col-md-4">
                                                        地址：<span th:text="${school.schoolInfo.address}"></span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        邮箱：<span th:text="${school.schoolInfo.email}"></span>
                                                    </div>
                                                    <div class="col-md-4">
                                                        电话：<span th:text="${school.schoolInfo.phone}"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <h2>相关问答</h2>
                                                    <hr style="margin-bottom: 40px">
                                                    <div>

                                                        <ul class="messages">
                                                            <li >
                                                                <div >
                                                                    <a th:href="@{'/question/'+${question.id}(pageNum=1)}"><h3 class="heading"th:text="${question.title}"></h3></a>
                                                                    <div >
                                                                        <h3 >最佳回答</h3>
                                                                        <p th:text="${comment.content}">
                                                                        </p>
                                                                        <div >
                                                                            <div class="thumb fl">
                                                                                <img th:src="${comment.user.getIcon().contains('http')?comment.user.getIcon().split(';')[1]:comment.user.getIcon()}" class="avatar" alt="Avatar">
                                                                            </div>
                                                                            <div ><h4 th:text="${comment.user.name}"style="float: left;width: 80px"></h4></div>
                                                                            <div ><p class="month"th:text="${#dates.format(comment.gmtModify,'yyyy-mm-dd')}"></p></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                            <table class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th>专业名称</th>
                                                    <th>所属学院</th>
                                                    <th>学科领域</th>
                                                    <th>收藏</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="major : ${majorList}">
                                                    <td ><a th:href="@{'/major/'+${major.id}}"th:text="${major.name}"></a></td>
                                                    <td th:text="${major.college}"></td>
                                                    <td th:text="${major.subject}"></td>
                                                    <td><button class="btn btn-default btn-sm delete_btn">
                                                        <span class="glyphicon glyphicon-star-empty"></span>
                                                        收藏
                                                    </button>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>


                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <!-- /page content -->
</div>
<!-- Start chabot area -->
<div th:insert="~{fragment/import :: chatbot}"></div>
<!-- End chabot area -->
</div>
<div th:insert="~{fragment/import :: foot}"></div>
<script th:src="@{/js/questions.js}"></script>

</body>

</html>